# Ambiente virtual Python
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Variáveis de ambiente / informações sensíveis
.env